/* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER (tiene que pasar de responsive aun diseño normal o al reves */
header {
    height: 100px;
    background: #4d4d5c;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid yellow;
}

.logo {
    text-transform: uppercase;
    color: #6cc091;
    font-weight: 200;
}

/* aqui esta los link de navegacion */
.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostar-menu {
    order: 1;
}

.menu a:hover,
.mostar-menu :hover,
.esconder-menu :hover {
    color: #6cc091;
}

#check {
    display: none;
}

/* RESPONSIVE */
@media(max-width:768px) {

    /* header */
    .mostar-menu,
    .esconder-menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d5c;
        left: 0;
        right:-100% ;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
        /* siempre colocar un transition  mejor efecto visual */
    }

    .menu a {
        display: block;
        /* utilizarlo en medias queries 768( si esta en linea cambia a bloque , uno encima del otro*/
        padding: 20px;
    }

    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ⁓ .menu {
        right: 0;
    }
}